.page-schedule {
	.main-content {
		padding: 50px 0;

		.heading {
			text-align: center;
			font-size: 19px;
			font-family: $font-uvnB;
			color: #ff0000;
			text-align: center;
			text-transform: uppercase;
			position: absolute;
			left: 50%;
			width: 200px;
			margin-left: -100px;
			line-height: normal;

			&.type-quarterfinals {
				top: 85px;
			}
			&.type-semifinal {
				top: 310px;
			}
			&.type-final {
				top: 490px;
			}
		}
		.list-teams {
			list-style: none;
			padding: 0;
			max-width: 850px;
			margin: 20px auto 0;
			&:first-child {
				margin: 0 auto;
			}
			&.type-quarterfinals {
				li {
					width: 12.5%;
					padding: 0 1px;
				}
			}
			&.type-semifinal {
				li {
					width: 25%;
					padding: 0 52px;
				}
			}
			&.type-final {
				li {
					width: 50%;
					padding: 0 52px;
				}
			}
			&.type-winner {
				li {
					width: 100%;
				}
			}
			/* &.type-disable {
				li {
					.outer {
						.inner {
							color: #ff0000;
							font-size: 32px;
							font-family: $font-uvnB;
						}
					}
				}
			} */

			li {
				float: left;
				text-align: center;
				&.type-disable {
					.outer {
						.inner {
							color: #ff0000;
							font-size: 32px;
							font-family: $font-uvnB;
						}
					}
				}

				.outer {
					background: url('../images/global/bg-team.png') no-repeat;
					width: 106px;
					height: 86px;
					display: table;
					margin: 0 auto;
					.inner {
						display: table-cell;
						vertical-align: middle;
						text-align: center;
						height: 100%;
						color: #0a3c73;
						font-size: 12px;
						padding: 0 10px;
						font-family: $font-uvnR;
					}
				}
			}
		}
		.list-action {
			list-style: none;
			padding: 0;
			max-width: 840px;
			margin: 0 auto;
			&.type-quarterfinals {
				li {
					width: 25%;

					.highlight {
						width: 118px;
						margin-left: -59px;
					}
				}
			}
			&.type-semifinal {
				li {
					width: 50%;

					a {
						&:before {
							left: -60px;
						}
						&:after {
							right: -60px;
						}
					}
					.highlight {
						width: 218px;
						margin-left: -109px;
					}
				}
			}
			&.type-final {
				li {
					width: 100%;

					a {
						&:before {
							left: -165px;
						}
						&:after {
							right: -165px;
						}
					}
					.highlight {
						width: 428px;
						margin-left: -214px;
					}
				}
			}
			/* &.type-disable {
				li {
					a {
						background: url('../images/global/btn-bet-disable.png') no-repeat;
						color: #012e6a;
					}
				}
			} */

			li {
				float: left;
				text-align: center;
				position: relative;
				&.type-disable {
					a {
						background: url('../images/global/btn-bet-disable.png') no-repeat;
						color: #012e6a;
					}
				}

				a {
					background: url('../images/global/btn-bet-active.png') no-repeat;
					width: 98px;
					height: 34px;
					margin: 0 auto;
					font-family: $font-uvnB;
					font-size: 12px;
					text-transform: uppercase;
					color: #ff0000;
					text-align: center;
					line-height: 30px;
					display: block;
					position: relative;
					z-index: 1;
					&:before {
						content: '';
						width: 1px;
						height: 20px;
						background-color: #416892;
						position: absolute;
						left: -10px;
						top: -5px;
					}
					&:after {
						content: '';
						width: 1px;
						height: 20px;
						background-color: #416892;
						position: absolute;
						right: -10px;
						top: -5px;
					}
				}
				.highlight {
					background-color: #416892;
					height: 1px;
					position: absolute;
					left: 50%;
					top: 15px;
					width: 25%;
					display: block;
					z-index: 0;
				}
				p {
					color: #0a3c73;
					font-size: 11px;
					margin: 5px 0 0;
					line-height: normal;
				}
			}
		}
	}
}