@font-face {
    font-family: 'UVNVan_R';
    src: url('../fonts/UVNVan_R.eot');
    src: url('../fonts/UVNVan_R.eot') format('embedded-opentype'),
         url('../fonts/UVNVan_R.woff2') format('woff2'),
         url('../fonts/UVNVan_R.woff') format('woff'),
         url('../fonts/UVNVan_R.ttf') format('truetype'),
         url('../fonts/UVNVan_R.svg#UVNVan_R') format('svg');
}

@font-face {
    font-family: 'UVNVan_B';
    src: url('../fonts/UVNVan_B.eot');
    src: url('../fonts/UVNVan_B.eot') format('embedded-opentype'),
         url('../fonts/UVNVan_B.woff2') format('woff2'),
         url('../fonts/UVNVan_B.woff') format('woff'),
         url('../fonts/UVNVan_B.ttf') format('truetype'),
         url('../fonts/UVNVan_B.svg#UVNVan_B') format('svg');
}
