.modal {
	position: relative;
	margin: 50px auto;
	&.bet-intro-modal {
		background: url('../images/global/bg-bet-potato.png') no-repeat;
		width: 384px;
		height: 279px;

		.heading {
			background: url('../images/global/heading-bet-potato.png') no-repeat;
			width: 188px;
			height: 43px;
			line-height: 43px;
			top: -20px;
			left: 50%;
			margin-left: -94px;
		}
		.intro {
			padding: 20px 50px;
		}
	}
	&.ranking-modal, &.tnc-modal, &.history-modal, &.bet-potato-modal {
		background: url('../images/global/bg-other.png') no-repeat;
		width: 691px;
		height: 501px;

		.heading {
			background: url('../images/global/heading.png') no-repeat;
			width: 229px;
			height: 52px;
			line-height: 52px;
			top: -35px;
			font-size: 18px;
			text-transform: uppercase;
			top: -35px;
			left: 50%;
			margin-left: -115px;
		}
		.intro {
			padding: 25px 50px;
		}
		.ranking-content {
			padding: 0 20px;
			overflow: hidden;
			&.type-header {
				p {
					line-height: normal;
					font-size: 14px;
					font-family: $font-uvnB;
					color: #fff;
					text-transform: uppercase;
					border-left: 1px solid #fff;
					&:first-child {
						border-left: 0;
					}
				}
			}
			&.type-list {
				height: 425px;

				.list-ranking {
					list-style: none;
					padding: 0;

					li {
						background: url('../images/global/bg-ranking.png') no-repeat;
						width: 602px;
						height: 54px;
						margin: 5px auto 0;
						overflow: hidden;
						display: block;
						&:first-child {
							margin: 0 auto;
						}

						p {
							line-height: 54px;
							font-size: 12px;
							color: #0a3c73;
							font-family: $font-uvnB;
							text-transform: uppercase;
							position: relative;
							&.username {
								width: 40%;
								text-align: left;
								padding-left: 60px;
							}

							.icon-star {
								background: url('../images/global/icon-star.png') no-repeat;
								width: 47px;
								height: 46px;
								text-align: center;
								line-height: 46px;
								color: #fe3c33;
								font-size: 20px;
								@include ab( 6px, 3px, n, n );
							}
						}
					}
				}
			}

			p {
				margin: 0;
				display: block;
				float: left;
				padding: 0 10px;
				text-align: center;
				&.username {
					width: 40%;
				}
				&.phone-number {
					width: 35%;
				}
				&.total-potato {
					width: 25%;
				}
			}
		}
		.tnc-content {
			background: url('../images/global/bg-content-tnc.png') no-repeat;
			width: 578px;
			height: 400px;
			margin: 0 auto;
			padding: 25px;
			font-size: 14px;
			color: #0a3c73;
			font-family: $font-uvnR;
			line-height: normal;

			.color {
				color: #f20c24;
			}
			ul {
				list-style: none;
				overflow: hidden;
				padding: 0;
				margin: 0;

				li {
					display: block;
					margin-top: 5px;
					&:first-child {
						margin-top: 0;
					}
					&:before {
						content: '';
						background: url('../images/global/icon-list-tnc.png') no-repeat;
						display: inline-block;
						width: 13px;
						height: 14px;
						margin-right: 5px;
					}
				}
			}
		}
		.history-content {
			overflow: hidden;
			&.type-header {
				padding: 0 120px 0 65px;

				p {
					line-height: normal;
					font-size: 14px;
					font-family: $font-uvnB;
					color: #fff;
					text-transform: uppercase;
					border-left: 1px solid #fff;
					text-align: center;
					&:first-child {
						border-left: 0;
					}
				}
			}
			&.type-list {
				background: url('../images/global/bg-list-history.png') no-repeat;
				width: 551px;
				height: 303px;
				margin: 20px auto 0;
				padding-right: 50px;
				height: 300px;
				.list-history {
					overflow: hidden;
					list-style: none;
					padding: 0;
					margin: 0;

					li {
						p {
							font-family: $font-uvnR;
							font-size: 14px;
							color: #104176;
							line-height: 45px;
							border-right: 1px solid #818181;
							border-bottom: 1px solid #818181;
						}
					}
				}
				.mCSB_scrollTools {
					right: -30px;
				}
			}
			&.type-statistical {
				background: url('../images/global/bg-statistical.png') no-repeat;
				width: 451px;
				height: 96px;
				margin: 6px auto 0;
				padding: 15px 20px;

				.content-left {
					font-family: $font-uvnR;
					font-size: 14px;
					color: #104176;
					float: left;
					width: 50%;
					text-align: center;
					line-height: normal;

					strong {
						color: #ff0000;
						font-size: 29px;
					}
				}
				.content-right {
					font-family: $font-uvnR;
					font-size: 14px;
					color: #104176;
					float: left;
					width: 50%;
					text-align: center;
					line-height: normal;

					.btn {
						background: url('../images/global/btn-confirm.png') no-repeat;
						width: 125px;
						height: 47px;
						line-height: 47px;
						text-align: center;
						margin: 5px auto 0;
						text-transform: uppercase;
						color: #ff0000;
						font-size: 14px;
						font-family: $font-uvnB;
					}
				}
			}

			p {
				margin: 0;
				display: block;
				float: left;
				padding: 0 10px;
				text-align: center;
				&.date {
					width: 25%;
				}
				&.team-name {
					width: 30%;
				}
				&.total-potato {
					width: 25%;
				}
				&.result {
					width: 20%
				}
			}
		}
		.bet-potato-content {
			.step {
				margin: 15px auto 0;
				padding: 15px 0;
				&.step-1 {
					background: url('../images/global/bg-content-bet-potato-top.png') no-repeat;
					width: 551px;
					height: 210px;
					margin: 0 auto;

					.list-teams {
						list-style: none;
						padding: 0;
						text-align: center;
						li {
							display: inline-block;
							padding: 0 20px;
							position: relative;
							&:first-child {
								&:before {
									display: none;
								}
							}
							&:before {
								content: 'VS';
								font-family: $font-uvnB;
								font-weight: bold;
								color: #0a3c73;
								font-size: 20px;
								@include ab( 45%, -11px, n, n );
							}
							&.active {
								>.inner {
									.overlay {
										display: table;
									}
								}
							}
							>.inner {
								width: 125px;
								height: 125px;
								background-color: #fff;
								position: relative;
								cursor: pointer;
								display: table;
								@include border-radius( 5px, 5px, 5px, 5px );
								@include box-shadow(  0px, 2px, 4px, rgba(194, 128, 23, 0.5) );
								// @include box-shadow(  0px, -1px, 3px, rgba(180, 97, 0, 1), true );
								&:hover {
									.overlay {
										display: table;
									}
								}

								label {
									font-size: 14px;
									color: #0a3c73;
									display: table-cell;
									vertical-align: middle;
									height: 100%;
									text-align: center;
								}
								.overlay {
									background: url('../images/global/bg-transparent-1.png') repeat;
									width: 100%;
									height: 125px;
									@include ab( 0, 0, n, n );
									display: none;

									.inner {
										font-size: 18px;
										color: #ff0000;
										text-transform: uppercase;
										display: table-cell;
										vertical-align: middle;
										height: 100%;
										.icon-check {
											background: url('../images/global/icon-choose-team.png') no-repeat;
											width: 37px;
											height: 36px;
											display: inline-block;
										}
									}
								}
							}
						}
					}
				}
				&.step-2 {
					background: url('../images/global/bg-content-bet-potato-bottom.png') no-repeat;
					width: 551px;
					height: 177px;

					.input-text {
						background: url('../images/global/bg-input.png') no-repeat;
						width: 132px;
						height: 51px;
						margin: 10px auto 0;
					}
					.btn-confirm {
						background: url('../images/global/btn-confirm.png') no-repeat;
						width: 125px;
						height: 47px;
						margin: 15px auto 0;
						text-transform: uppercase;
						font-size: 14px;
						color: #ff0000;
						line-height: 44px;
						text-align: center;
						font-family: $font-uvnB;
					}
				}

				.title {
					color: #0a3c73;
					font-size: 14px;
					padding-left: 100px;
					margin: 0;
					strong {
						font-size: 24px;
						color: #ff0000;
						font-family: $font-uvnB;
						padding-right: 5px;
					}
				}
			}
		}
	}
	&.tnc-modal, &.history-modal {
		.inner {
			padding: 50px 0;
		}
		.heading {
			font-size: 14px;
		}
	}
	&.history-modal {
		.inner {
			padding: 25px 0;
		}
		.heading {
			font-size: 14px;
		}
	}
	.inner {
		padding: 25px 0;
	}
	.btn-close {
		background: url('../images/global/icon-close.png') no-repeat;
		width: 48px;
		height: 49px;
		text-indent: -99999px;
		@include ab( 0, n, n, -50px );
	}
	.heading {
		text-align: center;
		font-family: $font-uvnB;
		color: #fff;
		text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.43);
		margin: 0 auto;
		position: absolute;
	}
	.intro {
		color: #012e6a;
		margin: 0;
		font-size: 18px;
		line-height: normal;
		text-align: center;
		font-family: $font-uvnR;
	}
}

.mfp-bg {
	display: none;
}
.mfp-close-btn-in .mfp-close {
	display: none;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
}
.mCSB_scrollTools .mCSB_dragger {
	background: none;
	background: url('../images/global/icon-potato-scroll.png') no-repeat;
	width: 43px!important;
	height: 53px!important;
	right: -10px;
}
.mCSB_inside > .mCSB_container {
	margin-right: 0;
}
.mCustomScrollBox {
	overflow: visible;
}
.mCSB_scrollTools .mCSB_draggerContainer {
	right: -10px;
}
.mCSB_dragger_bar {
	display: none;
}